version: '3'

networks:
  services-networks:

services:
  mysql:
    container_name: mysql_container
    image: mysql:5.7.41
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=wallet_nestjs
      - MYSQL_ROOT_USER=root
      - TZ=America/Sao_Paulo
    expose:
      - 3306
    ports:
      - '3306:3306'
    networks:
      - services-networks

  shopping-service:
    depends_on:
      - mysql
    restart: always
    container_name: 'shopping_app_container'
    build: ./shopping
    command: yarn start
    environment:
      - DATABASE_URL=mysql://root:123456@mysql:3306/wallet_nestjs?schema=public
    env_file:
      - ./shopping/.env
    ports:
      - 4001:4001
    volumes:
      - ./shopping:/usr/app
    links:
      - mysql:mysql
    networks:
      - services-networks

  wallet-service:
    depends_on:
      - mysql
      - shopping-service
    restart: always
    container_name: 'wallet_app_container'
    build: ./wallet
    command: yarn start
    environment:
      - DATABASE_URL=mysql://root:123456@mysql:3306/wallet_nestjs?schema=public
      - URL_MICROSERVICE_SHOPPING_PORT=http://shopping-service:4001/
    env_file:
      - ./wallet/.env
    ports:
      - 4000:4000
    volumes:
      - ./wallet:/usr/app
    links:
      - mysql:mysql
    networks:
      - services-networks